/* CLOCANDO COR DE FUNDO NO CABEÇLHO*/
header {
    background-color: #ff0000;
    font-family: poppins, sans-serif;
    /* FONTE DO CABEÇALHO */
    color: white;
    width: 100vw;
    height: 80px;
    /* COR DO TEXTO DO CABEÇALHO */
}

nav a {
    color: white;
    /* COR DO TEXTO DO MENU */
    text-decoration: none;
    /* REMOVE O SUBLINHADO DOS LINKS */
    margin: 0 10px;
    /* ESPAÇAMENTO ENTRE OS LINKS */
    text-align: center;
    /* ALINHAMENTO DO TEXTO DOS LINKS */
}

nav {
    text-align: center;
    /* ALINHAMENTO DO TEXTO DOS LINKS */
    border-color: aliceblue;
    /* COR DA BORDA DO MENU DE NAVEGAÇÃO */
    border-width: 1px;
    /* LARGURA DA BORDA DO MENU DE NAVEGAÇÃO */
    border-style: solid;
    /* ESTILO DA BORDA DO MENU DE NAVEGAÇÃO */
    padding: 15px;
    /* PADDING DO MENU DE NAVEGAÇÃO */
}

/*ALINHAR AS DIVS DO CABEÇALHO*/
.topo {
    display: flex;
    /* EXIBE AS DIVS COMO FLEXÍVEIS */
    align-items: center;
    /* ALINHA OS ITENS AO CENTRO VERTICALMENTE */
    justify-content: space-between;
    /*DISRIBUIÇÃO DO ESPAÇO ENTRE AS DIVS DO CABEÇALHO*/
    padding: 10px;
    /* DISTANCIA ENTRE AS BORDAS DO CABEÇALHO E O CONTEÚDO DAS DIVS */
}

nav img {
    height: 25px;
    /* ALTURA DAS IMAGENS DOS ÍCONES DE REDES SOCIAIS */
    width: 25px;
    /* LARGURA DAS IMAGENS DOS ÍCONES DE REDES SOCIAIS */
    margin-right: 10px;
    /* MARGEM ENTRE AS IMAGENS DOS ÍCONES DE REDES SOCIAIS */
    left: 30px;
    /* DISTÂNCIA DOS ÍCONES DE REDES SOCIAIS PARA A ESQUERDA */
}

nav button {
    background-color: transparent;
    /* COR DE FUNDO TRANSPARENTE PARA O BOTÃO */
    border: none;
    /* REMOVE A BORDA DO BOTÃO */
    color: white;
    /* COR DO TEXTO DO BOTÃO */
    font-size: 16px;
    /* TAMANHO DA FONTE DO BOTÃO */
    cursor: pointer;
    /* CURSOR DE MÃO AO PASSAR O MOUSE SOBRE O BOTÃO */
    margin: 0 20px;
    /* MARGEM ENTRE OS BOTÕES */
    border-radius: 5px;
    /* ARREDONDAMENTO DOS CANTOS DO BOTÃO */
}

nav button:hover {
    border: 1px solid white;
    /* ADICIONA UMA BORDA BRANCA AO PASSAR O MOUSE SOBRE O BOTÃO */
}

/*CONFIGURANDO ÁREA DE BANNER*/
.imagens-banner img {
    display: block;
    /* EXIBE A IMAGEM COMO UM BLOCO */
    width: 100%;
    /* LARGURA DA IMAGEM DO BANNER OCUPANDO TODA A LARGURA DO CONTAINER */
    height: auto;
    /* ALTURA AUTOMÁTICA PARA MANTER A PROPORÇÃO DA IMAGEM DO BANNER */
}

.banner {
    width: 100vw;
    /* LARGURA DO BANNER OCUPANDO TODA A LARGURA DA JANELA DE VISUALIZAÇÃO */
    height: auto;
    /* ALTURA AUTOMÁTICA PARA MANTER A PROPORÇÃO DO BANNER */
    margin: 0;
    /* REMOVE A MARGEM DO BANNER */
    padding: 0;
    /* REMOVE O PADDING DO BANNER */
}

.imagens-banner {
    width: 100%;
    /* LARGURA DA DIV DO BANNER OCUPANDO TODA A LARGURA DO CONTAINER */
    margin: 0;
    position: relative;
    /* POSIÇÃO RELATIVA PARA PERMITIR O USO DE POSIÇÃOMENTO ABSOLUTO NOS BOTÕES DO BANNER */
}

/* .botoes-banner { position: absolute; top: 50%; left: 10%; } .btn-comprar { background-color: #ff0000; color: white; border-radius: 5px; font-family: poppins, sans-serif; padding: 5px 10px; } /* configuração dos botões do banner quando mouse está sobre eles */

.btn-anterior{
    position:absolute;
    top: 30%;
    left: 2%;
    background-color: transparent;
    color: #A21D54;
    border-radius: 20px;
    border: none;
    padding: 10px;
}
.btn-proximo{
    position:absolute;
    top: 30%;
    left: 93%;
    background-color: transparent;
    color: #A21D54;
    border-radius: 20px;
    border: none;
    padding: 10px;
   
}

.btn-anterior:hover, .btn-proximo:hover{
    background-color: #A21D54;
    color: #FFFFFF;
}

/* configuração dos botões do banner quando mouse está sobre eles */

/*CONFIGURANDO A ÁREA DE OFERTA*/

.ofertas {
    padding: 20px;
    
    /*DISTANCIA ENTRE O CONTEUDO DA DIV DE OFERTA E AS BORDAS DA DIV */
}

/*CONFIGURANDO OS TEXTOS DE OFERTA*/
.titulos-ofertas {
    font-family: poppins, sans-serif;
    /*FONTE DO TITULO DAS OFERTAS */
    display: grid;
    /*EXIBE OS ELEMENTOS EM GRADE */
    grid-template-columns: 2 80% 20%;
    /* DEFINE O TAMANHO DAS COLUNAS DA GRADE */
    grid-template-rows: 2 50% 50%;
    /* DEFINE O TAMANHO DAS LINHAS DA GRADE */
}

.titulos-ofertas h2 {
    color: #000000;
    /*COR DO TITULO DAS OFERTAS */
    font-size: 42px;
    /*TAMANHO DA FONTE DO TITULO DAS OFERTAS */
    grid-column: 1;
    grid-row: 1;
    margin: 0;
}

.titulos-ofertas p {
    color: #ff0000;
    /*COR DO TITULO DAS OFERTAS */
    font-size: 24px;
    /*TAMANHO DA FONTE DO TITULO DAS OFERTAS */
    grid-column: 1;
    grid-row: 2;
    margin: 0;
}

.titulos-ofertas a {
    color: #000000;
    /*COR DO TITULO DAS OFERTAS */
    font-size: 20px;
    /*TAMANHO DA FONTE DO TITULO DAS OFERTAS */
    grid-column: 3;
    grid-row: 3;
    align-self: center;
    padding-left: 40%;
}

.lista-pordutos {
    display: flex;
    justify-content: space-between;
    font-family: poppins, sans-serif;
    margin-top: 30px;
}

.card-produtos {
    width: 18%;
    /* LARGURA DE CADA CARD DE PRODUTO */
    height: 10%;
    /* ALTURA DE CADA CARD DE PRODUTO */
    background-color: #d9d9d9;
    /* COR DE FUNDO DE CADA CARD DE PRODUTO */
    border: 5px solid #ccc;
    /*BORDA DE CADA CARD DE PRODUTO */
    border: 85px;
    /* ARREDONDAMENTO DAS BORDAS DE CADA CARD DE PRODUTO */
    padding: 15px;
    /* DISTANCIA ENTRE O CONTEUDO DO CARD E AS BORDAS DO CARD */
    text-align: center;
    /* ALINHAMENTO DO TEXTO NO CENTRO DO CARD */
    border-radius: 20px;
    margin: 10px;
}

.card-produtos img {
    width: 98%;
    /* LARGURA DA IMAGEM CARD DE PRODUTO */
    height: auto;
    /* ALTURA DA IMAGEM CARD DE PRODUTO */
    margin-bottom: 15px;
    /* MARGEM INFERIOR DA IMAGEM DO PRODUTO */
    border-radius: 15px;
    /* ARREDONDAMENTO DAS BORDAS DA IMAGEM DO PRODUTO */
}

.imagem-botao {
    position: relative;
    /* POSIÇÃO RELATIVA PARA POSICIONAR O BOTÃO DE FAVORITO DO CARD DE PRODUTO */
}

.favorito {
    position: absolute;
    border: none;
    border-radius: 25%;
    background-color: transparent;
    top: 10px;
    right: 10px;
    width: 50px;
}

.favorito img {
    width: 25px;
    margin-top: 5px;
}

.card-produtos h3 {
    font-size: 18px;
    font-family: poppins, sans-serif;
    color: #2e3f4f;
    font-weight: bold;
}

/*CONFIGURANDO O PREÇO DO PRODUTO*/
.card-produtos p {
    font-size: 16px;
    /* DEFINE O TAMANHO DO TEXTO */
    font-family: poppins, sans-serif;
    /* ALTERAR FONTE DO TEXTO */
    color: #3a3d3b;
    /* ADICIONA COR DE TEXTO */
}

/*CONFIGURANDO O BOTÃO DE ADICIONAR CARRINHO*/
.btn-adicionar {
    border-radius: 40%;
    /* ARREDONDAR O BOTAO */
    background-color: #3d3d3a;
    /*COR DE FUNDO DO BOTAO*/
    border: none;
    margin-left: 80%;
    width: 50px;
    height: 50px;
}

.btn-adicionar img {
    width: 22px;
    /* ALTERANDO O TAMANHO DO ICONE DE CARRINHO */
    padding-top: 10px;
    /* DISTANCIAR A IMAGEM DO TOPO DO BOTAO */
}

.precos {
    display: grid;
    /* PERMITE COLOCAR ITENS UM AO LADO DO OUTRO */
    grid-template-columns: 2;
    /* DUAS COLUNAS */
    grid-template-rows: 1;
    /* UMA LINHA */
    align-items: center;
}

.p-antigo {
    grid-column: 1;
    grid-row: 1;
    text-decoration: line-through;
    font-size: 12px;
    color: #aba7ab;
}

.p-promocional {
    grid-column: 2;
    grid-row: 1;
    text-decoration: bold;
    font-size: 18px;
    /* TAMANHO DO TEXTO */
    color: #3a3d3b;
    /*COR DE TEXTO */
    text-align: left;
    /* ALINHA O TEXTO PARA A ESQUERDA */
}